@model API_Assignment.Models.Dividends

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dividends</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pay_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pay_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rec_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rec_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dividends_type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dividends_type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Exe_date">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
