@model IEnumerable<API_Assignment.Models.Company>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.iexId)
            </th>
            <th>Dividends</th>
            <th>Previous</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.iexId)
            </td>
            <td>
                <a asp-action="Dividends" asp-route-id="@item.symbol" asp-controller="Home">Dividends</a>
            </td>
            <td>
                <a asp-action="Previous" asp-route-id="@item.symbol" asp-controller="Home">Previous</a>
            </td>
        </tr>
}
    </tbody>
</table>
